<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>Jokes</title>
</head>

<body>

    <div class="card">
        <p>
            <%= joke[0] %>

        </p>
        <p>
            <%= punch[0] %>
        </p>
    </div>
    <div class="card">
        <p>
            <%= joke[1] %>

        </p>
        <p>
            <%= punch[1] %>
        </p>
    </div>
    <div class="card">
        <p>
            <%= joke[2] %>

        </p>
        <p>
            <%= punch[2] %>
        </p>
    </div>

</body>

</html>